* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pryColor: #f2e5ff;
  --secColor: #5c179f;
  --otherOption: #545454;
  --text: #fff;
}

body {
  overflow: hidden;
}

.changePasswordButton {
  width: 180px;
  height: 36px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;

  background-color: var(--secColor);
  color: var(--pryColor);
}
